<div style="margin-left: 25%;margin-right: 25%;"> 
    <form [formGroup] = "formdata" (ngSubmit) = "onSave(formdata.value)" >
    
       <input dir="rtl" type = "text" class = "fortextbox" name = "name" placeholder = "نام" 
          formControlName = "name"> 
          <label dir="rtl">نام </label> 
       <br/> 
       
       <input dir="rtl" type = "text" class = "fortextbox" name = "age" 
          placeholder = "سن" formControlName = "age"> 
          <label dir="rtl"> سن </label> 
       <br/>

       <input dir="rtl" type = "text" class = "fortextbox" name = "salary" 
          placeholder = "حقوق" formControlName = "salary"> 
          <label dir="rtl"> حقوق </label> 
       <br/>

       
       <input type = "submit" class = "forsubmit" [value] = button_name> 
       <!-- <input type = "submit" class = "forsubmit" value = "نمایش همه">  -->
    </form>
 </div> 
 <!-- <p> Email entered is : {{emailid}} </p> -->

 <button style="margin-left: 40%;margin-right: 40%;width: 20%;" (click)=(onGetAll())>نمایش همه</button>

 <!-- <p-table [value]="employees">
     <ng-template pTemplate="header">
         <tr>
             <th>Name</th>
             <th>Age</th>
             <th>Salary</th>
         </tr>
     </ng-template>
     <ng-template pTemplate="body" let-emp>
         <tr>
             <td>{{emp.employee_name}}</td>
             <td>{{emp.employee_age}}</td>
             <td>{{emp.employee_salary}}</td>
         </tr>
     </ng-template>
 </p-table> -->
 <div>
     <table mat-table [dataSource]="employees" style="width: 100%;direction: rtl;text-align: center;">
         <!-- Position Column -->
         <ng-container matColumnDef="name">
             <th mat-header-cell style="text-align: center;" *matHeaderCellDef> نام </th>
             <td mat-cell *matCellDef="let emp"> {{emp.employee_name}} </td>
         </ng-container>
     
         <!-- Name Column -->
         <ng-container matColumnDef="age">
             <th mat-header-cell style="text-align: center;" *matHeaderCellDef> سن </th>
             <td mat-cell *matCellDef="let emp"> {{emp.employee_age}} </td>
           </ng-container>
       
           <!-- Weight Column -->
           <ng-container matColumnDef="salary">
             <th mat-header-cell style="text-align: center;" *matHeaderCellDef> حقوق </th>
             <td mat-cell *matCellDef="let emp"> {{emp.employee_salary}} </td>
           </ng-container>
 
           <!-- Weight Column -->
           <ng-container matColumnDef="delete">
             <th mat-header-cell style="text-align: center;" *matHeaderCellDef> حذف </th>
             <td mat-cell *matCellDef="let emp"> 
                 <button mat-fab (click)="onDelete(emp.id)">
                     <mat-icon>close</mat-icon>
                 </button>
             </td>
           </ng-container>

           <!-- Weight Column -->
           <ng-container matColumnDef="edit">
            <th mat-header-cell style="text-align: center;" *matHeaderCellDef> ویرایش </th>
            <td mat-cell *matCellDef="let emp"> 
                <button mat-fab (click)="RowSelected(emp)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
          </ng-container>
           
     
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
         
     </table>
     <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
     [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
 </mat-paginator>
 </div>
 