<div style="margin-left: 25%;margin-right: 25%;"> 
    <form [formGroup] = "formdata" (ngSubmit) = "onSave(formdata.value)" >
    
        <label dir="rtl">نام </label>
       <input dir="rtl" type = "text" class = "fortextbox" name = "name" placeholder = "نام" 
          formControlName = "name"> 
       <br/> 
       
       <label dir="rtl"> سن </label> 
       <input dir="rtl" type = "text" class = "fortextbox" name = "age" 
          placeholder = "سن" formControlName = "age">
       <br/>

       <label dir="rtl"> حقوق </label> 
       <input dir="rtl" type = "text" class = "fortextbox" name = "salary" 
          placeholder = "حقوق" formControlName = "salary">
       <br/>

       
       <input type = "submit" class = "forsubmit" value = 'ذخیره'> 
    </form>
 </div> 

 <!-- <p-table [value]="employees">
     <ng-template pTemplate="header">
         <tr>
             <th>Name</th>
             <th>Age</th>
             <th>Salary</th>
         </tr>
     </ng-template>
     <ng-template pTemplate="body" let-emp>
         <tr>
             <td>{{emp.employee_name}}</td>
             <td>{{emp.employee_age}}</td>
             <td>{{emp.employee_salary}}</td>
         </tr>
     </ng-template>
 </p-table> -->
 